.facility-node {

  &__handler-top-1,
  &__handler-top-2,
  &__handler-top-3,
  &__handler-top-4,
  &__handler-top-5 {

    &:hover {
      opacity: 0.3;
    }
  }

  &__handler-top-1 {
    left: 8px;
  }

  &__handler-top-2 {
    left: 25px;
  }

  &__handler-top-4,
  &__handler-top-5 {
    left: auto;
  }

  &__handler-top-4 {
    right: 15px;
  }

  &__handler-top-5 {
    right: 0;
  }
}
