// Парадигма - все цвета делятся на 10 частей
// где 1 - самый светлый тон, 10 - самый темный
// Например - если цвет серый, то 1 для него это - #ffffff,
// 10 - #000000

:root {
  --gray-1: #ffffff;
  --gray-2: #f8f8f8;
  --gray-3: #e7e9e9;
  --gray-4: #e8e8e8;
  --gray-5: #8b95a3;
  --gray-6: #bfbfbf;
  --gray-7: #8c8c8c;
  --gray-8: #595959;
  --gray-9: #27353c;
  --gray-10: #000000;
}
